fastapi
uvicorn
pydantic
requests
pandas
beautifulsoup4
yfinance
thefuzz
sentence-transformers
scikit-learn  # Needed by sentence-transformers
numpy         # Needed by pandas and sentence-transformers
